<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="fr.css">
    <link rel="stylesheet" href="bootstrap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forget and Reset Password </title>

</head>

<body>
    <script src="fr.js"></script>
    <div class="container cont">
        <div class="row">
            <div class="col-xl-12 a">
                <p> <b> **********************************************************************************************************************************************************
                    </b></p>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-1 b ">
                
            </div>
         
            <div class="col-xl-10 c">
                <!-- <div class="row"> -->
                        <div class="card text-center">
                                <div class="card-header">
                                  <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Registration</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Reset Password</a>
                                    </li>
                                  </ul>
                                </div>
                                <div class="card-body bb">
                                  <img src="l.png" alt="l.png"> <br> <br>
                                  <div class="formcls">
                                    <form>
                                         <label for="email"></label>
                                         
                                             <input class="img" style="text-align: center ;border-radius: 10%;"type="email" id="email" type="email" placeholder="enter@gmail.com" required>
                                             
                                    
                                    </form> <br> 
                                  </div>
                                  <h5 class="card-title">Forgot Password?</h5>
                                  <p class="card-text">You can reset your password here..</p> <br>
                                  <a href="#" class="btn btn-primary"> Reset Password</a>
                                </div>
                        </div>
                <!-- </div> -->
            </div>
            <div class="col-xl-1 d">
                    
            </div>
        </div>
        <div class="row">
                <div class="col-xl-12 a">
                    <p> <b> **********************************************************************************************************************************************************
                        </b></p>
    
                </div>
            </div>

    </div>
</body>
</html>