body{
    background-color: darkviolet !important;
    height: 800px;
    width: auto;
}
.reggg{
    background-color:yellow;
    height: auto;
    width: auto;
    
}
.aaa{
    text-align: center;
    padding-top: 50px;
}
.bbb{
    text-align: center;
}

