body{
    /* background-color: #330033; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='10' fill='%23000000' cx='45' cy='45' r='10'/%3E%3Cg fill='%23800' fill-opacity='10'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E"); */
    width: auto;
    height:300px;
}
.cont{
    margin-top: 80px;
    height:auto;
    background-color:darkgoldenrod;
    
}
.a{
    background-color: maroon;
}
.img{
    /* background-image: url("k.png"); */
    width: 300px;
    height:25px;
}